@{
    ViewBag.Title = "Contact";
}
<h2>Contact</h2>

<address>
    Plovdiv, Bulgaria<br />
    str. Mali Bogdan 70<br />
    <abbr title="Phone">P: +359 889 998 775</abbr>
    
</address>

<address>
    <strong>Facebook:</strong>   <a href="https://www.facebook.com/kristiqn.slavov?ref=bookmarks">My Facebook Account </a>
    
</address>