@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h5 style="font-size:20px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size:25px">
    Welcome to ONLINE BOOK LIBRARY </h5>
    <h1 style="text-align:center; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:100px">
    CHOOSE AND READ </h1>
    <p></p>
    <p></p>
    <h4 style="text-align:right">by Kristiyan Slavov</h4>
</div>
